<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lihat Semua Kasus - UTS APAP 2022</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <script>
        $(document).ready(function () {
            $('#covidTable').DataTable({
                "lengthMenu": [10, 20, 30]
            });
        });
    </script>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar(case)"></nav>

<div class="container">

    <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>

    <table class="table" id="covidTable">
        <thead>
        <tr>
            <th>Case Id</th>
            <th>NIK</th>
            <th>Nama</th>
            <th>Status</th>
            <th>Tanggal Gejala Pertama</th>
            <th>Fakultas</th>
            <th>Jumlah Hari Setelah Gejala Pertama</th>
            <th> Aksi</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="case, stat : ${caseList}">
            <td th:text="${case.caseId}"></td>
            <td th:text="${case.nik}"></td>
            <td th:text="${case.nama}"></td>
            <td th:text="${case.status}"></td>
            <td th:text="${case.tanggalGejalaPertama}"></td>
            <td th:text="${case.fakultas}"></td>
            <td th:text="${case.getHariSetelahGejalaPertama()}"></td>
            <td colspan="4">
                <div class="text-center">
                    <a type="button" class="btn btn-md btn-primary"
                       th:href="@{/covid/detail/{caseId}(caseId=${case.caseId})}">Detail
                    </a>
                    <a type="button" class="btn btn-md btn-secondary"
                       th:href="@{/covid/update/{caseId}(caseId=${case.caseId})}">Update Status
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
